redis==5.1.0
fastapi==0.115.0
pydantic==2.9.2
uvicorn[standard]==0.31.0
gunicorn==23.0.0
urllib3==1.26.15
pydantic-settings==2.5.2
SQLAlchemy==2.0.35
alembic==1.13.3
asyncpg==0.29.0
sqlmodel==0.0.22
orjson==3.10.7
email_validator==2.2.0
Werkzeug==3.0.4
psycopg2-binary==2.9.9